.selectableBar-container {
  /* outline: 1px solid blue; */
  margin: 10px 100px 0 100px;
  display: flex;
  /* border-bottom: 1px solid rgb(238, 238, 237); */
  font-size: 14px;
}

.selectableBar-container div:first-child {
  /* outline: 1px solid cadetblue; */
  display: flex;
  flex-direction: row;
}

.selectableBar-adjustments {
  /* background-color: brown; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
}

.selectableBar-container span {
  color: rgba(55, 53, 47, 0.65);
  padding-left: 4px;
  /* border: 1px solid rgb(46, 170, 220); */
}

.selectableBar-individual {
  padding: 0 15px;
  /* border: 1px solid rgb(46, 170, 220); */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.selectable-bar-left {
  overflow: hidden;
  white-space: nowrap;
}

.selectableBar-individual:hover {
  transition: background-color 20ms ease-in 0s;
  background: rgba(55, 53, 47, 0.08);
  cursor: pointer;
  border-radius: 3px;
}

/* ////////////////////////////////////////// */

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 0;
  transition: width 0.5s cubic-bezier(0.3, 0.02, 0, 1);
  font-size: 14px;
}

.search-bar:active {
  cursor: pointer;
}

.search-bar:focus,
.search-bar:valid {
  width: 150px;
  outline: none;
  cursor: initial;
}

.search-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ////////////////////////////////////////// */

.sort-dropdown-menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.sort-dropdown-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  left: calc(-100% - 4.25rem);
  top: 100%;

  background-color: white;

  border-radius: 4px;
  box-shadow: rgb(15 15 15 / 5%) 0px 0px 0px 1px,
    rgb(15 15 15 / 10%) 0px 3px 6px, rgb(15 15 15 / 20%) 0px 9px 24px;

  max-width: calc(100vw - 24px);
  opacity: 0;
  pointer-events: none;

  width: 290px;
  height: 290px;

  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.sort-dropdown-menu.active > .sort-link,
.sort-link:hover {
  color: rgb(46, 170, 220);
  transition: background-color 20ms ease-in 0s;
  background: rgba(55, 53, 47, 0.08);
}

.sort-dropdown-menu.active > .sort-link + .sort-dropdown-content {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* ////////////////////////////////////////// */

.new-entry__button {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 3px;
  background: rgb(46, 170, 220);
  height: 30px;
  width: 60px;
  margin: 0 10px;
  border: none;
  cursor: pointer;
}

.new-entry__button p {
  color: white;
  padding-right: 3px;
}

.selectableBar-adjustments span {
  /* border: 1px solid pink; */
  padding: 3px 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectableBar-adjustments span:hover {
  transition: background-color 20ms ease-in 0s;
  background: rgba(55, 53, 47, 0.08);
  cursor: pointer;
  border-radius: 3px;
}

/* ///////////////////////////////////////////// */
