.selectableBar-container {
  outline: 1px solid blue;
  margin: 10px 100px 0 100px;
  display: flex;
  /* border-bottom: 1px solid rgb(238, 238, 237); */
  font-size: 14px;
}

.selectableBar-container div:first-child {
  /* outline: 1px solid cadetblue; */
  display: flex;
  flex-direction: row;
}

.mappings-container {
  /* background-color: brown; */
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-left: auto;
}

.mappings-container span {
  border: 1px solid pink;
  color: rgba(55, 53, 47, 0.65);
  padding: 3px 10px;
  height: 100%;

  display: flex;
  justify-content: center;
}

.mappings-container span:hover {
  transition: background-color 20ms ease-in 0s;
  background: rgba(55, 53, 47, 0.08);
  cursor: pointer;
  border-radius: 3px;
}

.selectableBar-individual span {
  padding-left: 4px;
  /* border: 1px solid rgb(46, 170, 220); */
}

.selectableBar-individual {
  padding: 0 15px;
  /* border: 1px solid rgb(46, 170, 220); */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.selectable-bar-left {
  overflow: hidden;
  white-space: nowrap;
}

.selectableBar-individual:hover {
  transition: background-color 20ms ease-in 0s;
  background: rgba(55, 53, 47, 0.08);
  cursor: pointer;
  border-radius: 3px;
}

/* ////////////////////////////////////////// */

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 0;
  transition: width 0.5s cubic-bezier(0.3, 0.02, 0, 1);
  font-size: 14px;
}

.search-bar:active {
  cursor: pointer;
}

.search-bar:focus,
.search-bar:valid {
  width: 150px;
  outline: none;
  cursor: initial;
}

.search-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ////////////////////////////////////////// */

.new-entry__button {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 3px;
  background: rgb(46, 170, 220);
  height: 30px;
  width: 60px;
  margin: 0 10px;
  border: none;
  cursor: pointer;
}

.new-entry__button p {
  color: white;
  padding-right: 3px;
}

/* ///////////////////////////////////////////// */
