.layer-container.active {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: red;
  opacity: 25%;
}

.sort-container {
  padding: 4px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sort-dropdown-menu {
  position: relative;
}

.sort-link:hover {
  transition: background-color 20ms ease-in 0s;
  cursor: pointer;
  background: rgba(55, 53, 47, 0.08);
  border-radius: 3px;
}

.sort-dropdown-content {
  position: absolute;
  left: calc(-100% - 4.25rem);
  top: calc(100% + (32px - 28px) + 1px);
  width: 250px;

  background-color: white;
  border-radius: 4px;
  box-shadow: rgb(15 15 15 / 5%) 0px 0px 0px 1px,
    rgb(15 15 15 / 10%) 0px 3px 6px, rgb(15 15 15 / 20%) 0px 9px 24px;

  max-width: calc(100vw - 24px);

  pointer-events: auto;

  transform: translateY(-10px);
  transition: opacity 150ms ease-in,
    transform 150ms cubic-bezier(0.42, -0.02, 1, 1);
  z-index: -50;
  opacity: 0;
}

.sort-dropdown-menu.active > .sort-link + .sort-dropdown-content {
  opacity: 1;
  z-index: 50;
  transform: translateY(0);
  pointer-events: auto;
}

.sort-link {
  /* outline: 1px solid blue; */
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  border: none;
  background: none;
  cursor: pointer;
  /* outline: none; */
  padding: 0;
  width: 100%;
  height: 32px;
  width: 42px;
  color: rgba(55, 53, 47, 0.65);
}

/* ////////////////////////////////////////////// */

.dropdown-input-searchbar input {
  margin: 10px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 12px;
  color: rgba(55, 53, 47, 0.343);
  line-height: 20px;
  padding: 3px 6px;
  position: relative;
  border-radius: 3px;
  box-shadow: rgb(15 15 15 / 10%) 0px 0px 0px 1px inset;
  background: rgba(242, 241, 238, 0.6);
  cursor: text;
  height: 28px;
  color: rgba(55, 53, 47, 1);
}

.dropdown-input-searchbar input:focus {
  outline: 2px solid #c1efff;
}

.dropdown-input-searchbar input::-webkit-search-cancel-button {
  background-image: url(/src/Icons/ClearIcon.svg);
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  cursor: pointer;
}
/* ////////////////////////////////////////////// */

.dropdown-selection-container {
  /* outline: 2px solid green; */
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
}

.dropdown-selection {
  height: 28px;
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  width: 100%;
  border-radius: 3px;
}

.dropdown-selection p {
  /* outline: 1px solid blue; */
  font-size: 12px;
  padding-left: 8px;
}

.no-results-found {
  font-size: 12px;
  color: rgba(55, 53, 47, 0.343);
  padding-left: 8px;
}
