.header-container {
  /* outline: 2px solid blue; */
  display: flex;

  margin: 0 100px;
}

.table-header {
  /* outline: 1px solid pink; */
  border-top: 1px solid rgb(238, 238, 237);
  border-bottom: 1px solid rgb(238, 238, 237);
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  font-weight: 400;
  font-size: 14px;
  width: 200px;
  max-width: 200px;
  min-width: 200px;
}

.table-header:not(:first-child) {
  border-left: 1px solid rgb(238, 238, 237);
}

.table-icon {
  padding-left: 7px;
  padding-right: 7px;
}

.table-label {
  color: rgba(55, 53, 47, 0.65);
}

/* ////////////////////////////////////////// */

.body-container {
  /* outline: 1px solid blue; */
  margin: 0 100px;
  /* width: 1800px;
  max-width: 1800px; */
}

.table-body {
  /* outline: 2px solid pink; */
  display: flex;
  flex-direction: row;
  align-content: center;
}

.table-body div {
  /* outline: 1px solid green; */
  display: flex;
  align-items: center;

  height: 30px;
  font-weight: 400;
  width: 200px;
  max-width: 200px;
  min-width: 200px;
  padding-left: 7px;

  border-bottom: 1px solid rgb(238, 238, 237);
  overflow: hidden;
  font-size: 14px;
}

.table-body div:not(:first-child) {
  border-left: 1px solid rgb(238, 238, 237);
}

.table-body-company span {
  padding-left: 4px;
}

/* ////////////////////////////////////////// */

.count-container {
  /* outline: 1px solid purple; */
  display: flex;
  align-items: center;

  background-color: white;

  border-top: 1px solid rgb(238, 238, 237);

  position: sticky;
  bottom: 0;
  height: 32px;
}

.count-container span {
  letter-spacing: 2px;
  font-size: 14px;
  color: rgba(55, 53, 47, 0.65);
  margin-left: 120px;

  display: flex;
}

.count-container b {
  font-size: 14px;
}

/* //////////////////////////////////////// */

.filter-input {
  width: 50px;
  padding-left: 100px;
}

.sort-container {
  padding-left: 100px;
}
