* {
  margin: 0;
  padding: 0;
  color: rgb(55, 53, 47);
  fill: currentcolor;
  line-height: 1.5;
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, 'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji',
    'Segoe UI Symbol';
  -webkit-font-smoothing: auto;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

body {
  position: relative;
}

.main-heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.sub-heading {
  padding: 50px 100px 0 100px;
}

footer {
  padding: 100px;
}
